body {
    background-color: linen;
}    

#board {
    background-color: transparent;
    display: block;
    height: 10em;
    margin: 100px;    
    border-left: 1px solid black;
}       

#board > div { 
    background-color: white;
    float: left;
    border-right: 1px solid black;
}

#pits {
    height: 10em;
}

#pits button {
    height: 4em;
    width: 5em;
    margin: 1em;
    cursor: pointer;
    padding: 7px 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    background: #f7f7f7;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
} 

#pits button:hover {
    background: blue;
    color: white;
}          
      
#pits button:active {
    background: red;
    color: white;
}                

.mancala {
    height: 100%;
    width: 10em;
    vertical-align: top;
    text-align: center;
}

.mancala span {
    display: block;
    padding: 0.3em;
}

.mancala span.stone-count {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}            

.current-player {
    background-color: yellow;
}

#notification-message {
    background-color: yellow;
}